# Required environment variables to run this application
# Create a copy of this file as dev.env and populate with desired values

# Server name
export SERVER_NAME=api.example.com

# SSL port
SSL_PORT=3000

# Location of SSL certificates. Expects server.key and server.crt file.
export CERTS_DIR=/path/to/certificates

# Name of container to run under podman (you can leave it)
export CONTAINER_NAME=contacts-api

# Name of image to build (you can leave it)
export IMAGE_NAME=${CONTAINER_NAME}-image
